<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufg.go.br.recrutame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="GoogleMap Key" />

    <application
        android:name=".RecrutameApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/LoginAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.MainActivity"
            android:theme="@style/LoginAppTheme" />
        <activity
            android:name=".activity.user.RegisterActivity"
            android:theme="@style/LoginAppTheme" />
        <activity
            android:name=".activity.user.ForgotPasswordActivity"
            android:theme="@style/LoginAppTheme" />
        <activity android:name=".activity.api.LILoginActivity" />
        <activity
            android:name=".activity.TabActivity"
            android:theme="@style/InsideAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".JobDetailActivity"
            android:theme="@style/InsideAppTheme" />
        <activity android:name=".activity.profile.EditGeneralInfoActivity" />
        <activity android:name=".activity.profile.EditContactInfoActivity" />
        <activity android:name=".activity.profile.EditLanguagesInfoActivity" />
        <activity android:name=".activity.profile.AddEditLanguageInfoActivity" />
        <activity android:name=".activity.profile.EditExperiencesInfoActivity" />
        <activity android:name=".activity.profile.AddEditExperienceInfoActivity" />
        <activity android:name=".activity.profile.EditEducationsInfoActivity" />
        <activity android:name=".activity.profile.AddEditEducationInfoActivity" />
    </application>

</manifest>